image: maven:3.8.6

pipelines:
  default:
    - step:
        name: Build and Test
        caches:
          - maven
        script:
          - apt-get update && apt-get install -y gnupg
          - echo "deb [arch=amd64]  http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google-chrome.list
          - wget https://dl.google.com/linux/linux_signing_key.pub
          - apt-key add linux_signing_key.pub
          - apt-get update && apt-get install google-chrome-stable -y
          - echo "Automated pipelines."
          #- mvn -B verify --file pom.xml
          # run tests
          - mvn -ntp -Dbrowser='chromeheadless' -Dremote='false' clean test